@font-face {
    font-family: "CursedTimer";
    src: url("fonts/CursedTimerUlil-Aznm.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 575px;
    height: 385px;
    margin: 150px auto;
    padding-top: 15px;
    background: #1B244A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score_text, .point_btn {
    font-family: "CursedTimer", sans-serif;
}

.score_display {
    display: flex;
    justify-content: space-around;
}

#new_game {
    width: 120px;
    margin: 15px auto;
    padding: 4px;
    display: block;
    color: #EEEEEE;
    font-size: 14px;
    font-weight: bold;

}


.score_text {
    color: #F94F6D;
    font-size: 90px;
    padding-top: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.name {
    color: #EEEEEE;
    font-size: 40px;
    font-weight: bold;
}

.score_div {
    width: 155px;
    height: 120px;
    margin: 21px 0 26px 0;
    background: #080001;
    line-height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: #9AABD8;
    background: none;
    border: 2px solid #9AABD8;
}

.button_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.point_btn {
    width: 45px;
    height: 45px;
    font-size: 18px;
}

button:hover {
    border: 2px solid #F94F6D;
}

button:active {
    background: #F94F6D;
}

.score_div, button {
    border-radius: 5px;
}